.box {
    display: flex;
    flex-direction: column;   /* จัดเรียงแนวตั้ง */
    justify-content: center; /* จัดกึ่งกลางแนวตั้ง */
    align-items: center; 
   padding-bottom: 50px;   /* จัดกึ่งกลางแนวนอน */
   padding-top: 70px;
   }

body{background-color: rgba(0, 0, 0, 0.77);
color: aliceblue;
 font-family: 'Itim', cursive, "Helvetica Neue", Arial, sans-serif;
      font-weight: 400;        /* ระบุ weight 400 */
      font-size: 17px;         /* ปรับขนาดพื้นฐาน (ปรับตามต้องการ) */}

.bg-red {background-color: rgb(166, 13, 13);}
.bg-white {background-color: rgb(206, 185, 185);}
.bg-grey {background-color: #0b0808dd;
margin: 0%;}

.front-white {color: aliceblue; }

.bg-dark .nav-link {color: aliceblue!important;}

 .sriracha {
      font-family: 'Sriracha', cursive; /* ใช้ฟอนต์ Sriracha */
      font-weight: 400;                 /* Regular 400 */
      color: rgb(166, 13, 13);
      font-size: 50px;
    }

.chonburi {
      font-family: 'Chonburi', cursive;  /* ใช้ฟอนต์ Chonburi */
      font-weight: 400;                /* Regular 400 */
      font-size: 30px;
   
    }

  .blueviolent {color: rgb(166, 13, 13);}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* เสริมให้มีขอบปุ่มขาว */
.navbar-dark .navbar-toggler {
  border-color: rgba(255,255,255,0.8);
}

.icon {
  width: 30px;        /* ขนาดรูปไอคอน */
  height: auto;
  vertical-align: middle;
}

.shadow-img {
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.9); /* เงาดำโปร่งใส */
}

.card-dark {
  background-color: #910f0f; /* สีพื้นของกล่อง */
  border: 1px solid #b0b0b0; /* เส้นขอบเทา */
  border-radius: 10px; /* มุมโค้ง */
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: aliceblue;
}

.card-dark:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
}
.rounded-img {
  border-radius: 16px;   /* มุมโค้งนุ่มนวล */
}

  #carouselExample {
    max-width: 90%;  /* ความกว้างสูงสุด */
    height: 70%;     /* ความสูงคงที่ */
    margin: 0 auto;    /* จัดให้อยู่กึ่งกลางหน้า */
  }

  /* ทำให้ภาพปรับขนาดตาม carousel */
  #carouselExample .carousel-item img {
    width: 90%;
    height: 70%;
    object-fit: cover;  /* ปรับภาพให้เต็มพื้นที่โดยไม่บิดสัดส่วน */
   
  }